# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\InterProg\node js asyc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
